.filter-btn {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-items: flex-start;
    padding: 2px;
    align-items: center;
}

.filter-btn input {
    font-family: 'Lexend', sans-serif;
    padding: 5px;
    font-weight: 300;
}

.filter-btn p {
    font-family: 'Lexend', sans-serif;
    margin-bottom: 2px;
    font-weight: 300;
}

.select-indicator {
    align-self: stretch;
    width: 1px;
    background-color: rgb(204, 204, 204);
    margin-bottom: 8px;
    margin-top: 8px;
    height: 20px;
    box-sizing: border-box;
}

.filter-select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    flex-shrink: 0;
}