.filters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: transparent;
    padding: 20px 40px 20px 75px;
    background-color: #fff;
    margin: 10px;
    gap:30px;
    align-items: center;
}